############## General Settings ##############

# ── 외부 API 키 ──
OPENAI_API_KEY=sk-proj-여기에_OpenAI_API_키_입력
GOOGLE_API_KEY=여기에_Google_API_키_입력
ANTHROPIC_API_KEY=sk-ant-api03-여기에_Anthropic_API_키_입력

YOUTUBE_API_KEY=여기에_YouTube_API_키_입력

# ── JWT 설정 ──
JWT_SECRET_KEY=SECRET_KEY 입력
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30

# -─ 이메일 설정 (SMTP) ──
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=여기에_이메일_주소_입력
SMTP_PASSWORD=여기에_이메일_비밀번호_입력
ERROR_ALERT_EMAIL=여기에_오류_알림_받을_이메일_주소_입력

# ── Notion OAuth 설정 ──
NOTION_VERSION=2026-03-11
NOTION_OAUTH_CLIENT_ID=여기에_Notion_OAuth_Client_ID_입력
NOTION_OAUTH_CLIENT_SECRET=여기에_Notion_OAuth_Client_Secret_입력
NOTION_OAUTH_REDIRECT_URI=http://127.0.0.1:8000/api/v1/notion/oauth/callback
NOTION_OAUTH_AUTH_URL=https://api.notion.com/v1/oauth/authorize

# ── Kakao Notion OAuth 개발 키 ──
KAKAO_NOTION_OAUTH_DEV_KEY=여기에_Kakao_Notion_OAuth_개발_키_입력

############## Local settings ##############
# ── 데이터베이스 설정 (PostgreSQL) ──
DATABASE_URL=postgresql://postgres:비밀번호@127.0.0.1:5432/aka_db

POSTGRES_DB=aka_db
POSTGRES_USER=zo_o
POSTGRES_PASSWORD=0909
POSTGRES_PORT=5432
POSTGRES_HOST=db

# ── Celery 설정 (Redis) ──
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
